{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mt-5">
    <h1>Login</h1>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-block">
                {{form.username|as_crispy_field}}
            </div>
            <div class="input-block">    
                {{form.password|as_crispy_field}}
            </div>
            <div class="btn-login">
                <input type="submit" class="btn btn-outline-success" value='Login'>
            </div>

            <div class="links">
                <a href="/register/reset_password/" class="btn btn-light">Forgot your password? </a>
                <a href="/register" class="btn btn-light">SignUp</a>
            </div>
    </form>
</div>
{% endblock %}