{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mt-5">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.mass|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.height|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.home_planet|as_crispy_field }}
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Finish">
    </form>
</div>
{% endblock %}