{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
    <h2>Welcome to Order Page!</h2>
</div>
<div class="content mt-1">
    {% if orders %}
        {% for o in orders %}
        <div class="card bg-light text-dark">
            <div class="card-header"><a href="{% url 'commerce:order_detail' pk=o.pk %}">{{ o.product_name }}</a></div>
            <div class="card-body">Suggested Price: {{ o.suggested_price }}</div>
            <div class="card-body"><img src="{{ o.product_name.image.url }}" class="img-thumbnail"></div>
            <div class="card-footer">Amount: {{ o.amount }}</div>
        </div> 
        {% endfor %}
    {% else %}
    <div class="alert alert-info" role="alert">
        There is no order registered!
      </div>
    {% endif %}
</div>
{% endblock %}
