{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mt-5">
    <h2><p>Use the bellow form to update products.</p></h2>
</div>
<div class="mt-5">
    <form class="forms" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.product_name|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.unit_price|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.multiple|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form.image|as_crispy_field }}
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Finish Update">
    </form>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in form.errors %}
        <strong>{{ form.non_field_errors }}</strong>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}