{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
    <h2>Welcome to Commerce Page!</h2>
</div>
<div class="content mt-1 mb-5">
    {% if products %}
        {% for p in products %}
        <div class="card bg-light text-dark">
            <div class="card-header"><a href="{% url 'detail_product' pk=p.pk %}">{{ p.product_name }}</a></div>
            <div class="card-body">Price: {{ p.unit_price }}</div>
            <div class="card-body"><img src="{{ p.image.url }}" class="img-thumbnail"></div>
        </div>
        {% endfor %}
    {% else %}
    <div class="alert alert-info" role="alert">
        There is no product registered!
      </div>
    {% endif %}
</div>
{% endblock %}