{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
    <h2>Product Detail</h2>
</div>
<div class="content mt-1 mb-5">
    {% for p in object_list %}
    <div class="card bg-light text-dark">
        <div class="card-header">{{ p.product_name }}</div>
        <div class="card-body">Price: {{ p.unit_price }}</div>
        <div class="card-footer"><a href="{% url 'commerce:product_order' %}"><button class="btn btn-success">Buy</button></a></div>
    </div>
    {% endfor %}
</div>
{% endblock %}