{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mt-5">
    {% if validlink %}
        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <h1 class="title-login">Setting new Password</h1>
                <div class="input-block">
                    {{form.new_password1|as_crispy_field}}
                </div>
                <div class="input-block">    
                    {{form.new_password2|as_crispy_field}}
                </div>
                <div class="btn-login">
                    <input type="submit" class="btn btn-outline-success" value="Recover access">
                </div>        
        </form>
    {% else %}
    <p>Invalid access link. This link has already been used.</p>
    {% endif %}
</div>
{% endblock %}