<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></script>
    <title>Star Wars Commerce</title>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'core:home' %}">Star Wars ECommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product_list' %}">Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product_register' %}">Register Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_order' %}">Register Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order_list' %}">Order List</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">SignUp</a>
        </li>
      </ul>
    </div>  
  </nav>
  <br>
  <!--aqui-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
          <!--messages-->
          {% if messages %}
          {% for msg in messages %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger" role="alert">
              <div>
                  <p>{{ msg }}</p>
              </div>
          </div>
          {% endif %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success" role="alert">
              <div>
                  <p>{{ msg }}</p>
              </div>
          </div>
          {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          <!--end messages-->
        </div>
      </div>
    </div>
</body>
</html>