<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Star Wars Commerce</title>
</head>
<body>
    <div class="header">
      <div class="header-left">
        <a href="{% url 'home' %}" class="logo">Star Wars Commerce</a>
        <a href="{% url 'product_list' %}">Product List</a>
        <a href="{% url 'product_register' %}">Register Product</a>
        <a href="{% url 'product_order' %}">Order Product</a>
        <a href="{% url 'order_list' %}">Order List</a>
      </div> 
      <div class="header-right">
        <a class="active" href="{% url 'home' %}">Home</a><!--<img src="{% static 'img/vader.png' %}" alt="logo"/>-->
        {% if user.is_authenticated %}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/login">Login</a>
        {% endif %}
        <a href="{% url 'register' %}">SignUp</a>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
          <!--messages-->
          {% if messages %}
          {% for msg in messages %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger" role="alert">
              <div>
                  <p>{{ msg }}</p>
              </div>
          </div>
          {% endif %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success" role="alert">
              <div>
                  <p>{{ msg }}</p>
              </div>
          </div>
          {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          <!--end messages-->
        </div>
      </div>
    </div>
</body>
</html>