{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <h1 class="title-login">Recoverying your access</h1>
            <div class="input-block">
                <h2 id="label-login">{{ form.email.label }}</h2>
                {{form.email}}
            </div>
            <div class="btn-login mt-2">
                <input type="submit" class="btn btn-outline-success" value="Recover your access">
            </div>
    </form>
</div>
{% endblock %}